.container {
  height: 100vh;
  position: relative;
  font-family: 'Questrial', sans-serif;
}

.modal-title {
  font-size: 1.2em;
  letter-spacing: 5px;
  color: #bee3f8;
  font-family: 'Questrial', sans-serif;
}
.text-box {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-box-dashboard {
  position: absolute;
  text-align: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dashboard-profile-signout {
  font-weight: bold;
}
.heading-primary {
  color: #9bcaeb;
  text-align: center;
  text-transform: uppercase;
}

.heading-primary-main {
  font-size: 60px;
  letter-spacing: 10px;
}

.footer-container {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 15px;
}

@media only screen and (max-width: 500px) {
  .text-box-dashboard {
    top: 50%;
  }
}
