.user-container {
  height: 90vh;
  font-family: 'Questrial', sans-serif;
}
.user-container {
  text-align: center;
  position: relative;
}
.user-heading-primary {
  color: #9bcaeb;
  text-align: center;
  text-transform: uppercase;
}
.user-heading-primary-main {
  font-size: 60px;
  letter-spacing: 10px;
}
.user-information-panel {
  top: 10%;
  left: 25%;
  position: absolute;
}
.info-1 {
  font-size: 40px;
  padding: 30px 0px;
  text-align: left;
}
.info-2,
.info-3 {
  text-align: left;
  font-size: 20px;
}
.hr-line {
  top: 27%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #9bcaeb;
  width: 60%;
}
.font-style {
  font-weight: bold;
}
.user-posts-container {
  margin: 0 auto;
  margin-top: 15em;
  height: auto;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}
.user-post-image {
  height: 400px;
  width: 300px;
  margin: 10px 20px !important;
}
.user-post-image {
  vertical-align: middle;
  object-fit: cover;
  margin: 0 auto;
  border: 2px solid black;
}
.user-post-edit-delete-group {
  text-align: center;
}
.user-post-hover:hover .edit-btn,
.user-post-hover:hover .delete-btn {
  visibility: visible;
  opacity: 1;
}
.user-btn {
  width: 100px;
  padding: 5px 10px;
  margin: 5px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}
.edit-btn {
  color: #9bcaeb;
}
.delete-btn {
  color: red;
}
.user-post-title,
.user-btn span {
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media only screen and (max-width: 500px) {
  .user-heading-primary {
    font-size: 20px;
    padding: 100px 0px;
  }
  .user-information-panel {
    position: absolute;
    width: 100%;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 50%;
  }
  .info-1 {
    text-align: center;
    font-size: 30px;
  }
  .info-2,
  .info-3 {
    text-align: center;
  }
  .info-2 span,
  .info-3 span {
    font-size: 15px;
  }
  .text-display {
    display: none;
  }

  .hr-line {
    position: absolute;
    top: 43%;
  }
  .user-heading-primary-main {
    font-size: 20px;
  }
  .user-posts-container {
    margin-top: 7em;
    width: 100%;
  }
  .user-btn {
    visibility: visible;
    opacity: 1;
  }
}
